/* Global Page Styles */
body {
    background-color: red;
    color: white;  
    font-family: Arial, sans-serif;
        display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Navbar Styles 
.navbar {
    background-color: #212529;
    color: white;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

    .navbar-brand:hover {
        color: #d4d4d4;
    }
*/

/*Table Styles */
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
    border-radius:50px;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
    animation-delay: 1s;
    animation-duration: 3s;
}

tr:hover {
    background-color: #E4E6EB;
    transition-duration: .3s;
}


/* Buttons */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Active/Inactive Badges */
.badge {
    font-size: 0.9em;
    padding: 0.4em;
}

.bg-success {
    background-color: green !important;
    color: white;
}

.bg-danger {
    background-color: red !important;
    color: white;
}
/* Form Styling */
form {
    max-width: 900px;
    margin: 0 auto;
    background-color: #FAFBFB;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

    /*Form Labels*/ 
    form .form-label {
        font-weight: bold;
    }
  
    /* Buttons */
    form .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        margin-right: 10px;
    }

    form .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }

.text-danger {
    font-size: 0.9em;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}