@page
@model SecretSantaAPI.Pages.PasswordReset.PasswordResetModel
@{
    ViewData["Title"] = "Password reset";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<form method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="Email">Email Address</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
        <span class="text-danger">@Model.EmailError</span>
    </div>

    <button id="SendCodeBtn" type="submit" class="btn btn-primary">Send code</button>
</form>